<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>LS BANK - Criar Conta</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <svg height="40" viewBox="-3 -3 82 82" width="40" style="display: block">
                    <title>LS-BANK logo</title>
                    <image width="80" height="80" href="{{ url_for('static', filename='fotos_site/logo.png') }}" />
                </svg>
                <h1>LS BANK</h1>
            </div>
            <div class="restante-nav">
                <!-- Outros links de navegação, se necessário -->
            </div>
        </nav>
    </header>

    <div class="container-popup">
        <form method="POST" class="popup">
            {{ form.csrf_token }}

            <svg height="40" viewBox="-3 -3 82 82" width="40" style="display: block">
                <title>LS-BANK logo</title>
                <image width="80" height="80" href="static/fotos_site/logo.png" />
            </svg>

            <h2>Bem-vindo(a) ao LS BANK</h2>

            <div class="div-input">
                {{ form.nome.label(class="label") }}
                {{ form.nome(class="input") }}
            </div>

            <div class="div-input">
                {{ form.sobrenome.label(class="label") }}
                {{ form.sobrenome(class="input") }}
            </div>

            <div class="div-input">
                {{ form.email.label(class="label") }}
                {{ form.email(class="input") }}
            </div>

            <div class="div-input">
                {{ form.cpf.label(class="label") }}
                {{ form.cpf(class="input") }}
            </div>

            <div class="div-date">
                {{ form.data_nascimento.label(class="label") }}
                {{ form.data_nascimento(class="date") }}
            </div>

            <div class="div-input">
                {{ form.senha.label(class="label") }}
                {{ form.senha(class="input") }}
            </div>

            <div class="div-input">
                {{ form.confirmacao_senha.label(class="label") }}
                {{ form.confirmacao_senha(class="input") }}
            </div>

            <div class="div-botao">
                {{ form.botao_confirmacao(class="botao-login") }}
                <a href="{{ url_for('homepage') }}" class="link-criarconta">Já tem uma conta? Faça Login</a>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </form>
    </div>

</body>
</html>
