<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard - LS-BANK</title>
</head>
<body>
    <div class="container">
        
        <header>
            <nav>
                <div class="logo">
                    <svg height="40" viewBox="-3 -3 82 82" width="40" style="display: block">
                        <title>LS-BANK logo</title>
                        <image width="80" height="80" href="{{ url_for('static', filename='fotos_site/logo.png') }}" />
                    </svg>
                    <h1>LS BANK</h1>
                </div>
                <div class="restante-nav">
                    <a href="{{ url_for('logout')}}"> Sair </a>
                </div>
            </nav>
        </header>

        <!-- Corpo da Dashboard -->
        <div class="dashboard-body">
            <div class="user-info">
                <h2>Olá, {{ usuario.nome }} {{ usuario.sobrenome }}</h2>
                <p>Bem-vindo(a) ao seu painel bancário.</p>
                <div class="saldo">
                    <h3>Saldo Atual</h3>
                    <p>{{ saldo }}</p>
                </div>
            </div>

            <!-- Cards de Ação -->
            <div class="action-cards">
                <div class="card">
                    <h3>Transferir</h3>
                    <a href="{{ url_for('transferencia', id_usuario=usuario.id) }}" class="action-button">Realizar Transferência</a>
                </div>
                <div class="card">
                    <h3>Depositar</h3>
                    <a href="{{ url_for('depositar', id_usuario=usuario.id) }}" class="action-button">Depositar</a>
                </div>
                <div class="card">
                    <h3>Extrato</h3>
                    <a href="{{ url_for('extrato') }}" class="action-button">Ver Extrato</a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="dashboard-footer">
            <p>&copy; 2025 LS-BANK. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>
