<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Extrato - LS-BANK</title>
</head>
<body>
    <div class="container">
        <!-- Cabeçalho e navegação -->
        <header>
            <nav>
                <div class="logo">
                    <svg height="40" viewBox="-3 -3 82 82" width="40" style="display: block">
                        <title>LS-BANK logo</title>
                        <image width="80" height="80" href="{{ url_for('static', filename='fotos_site/logo.png') }}" />
                    </svg>
                    <h1>LS BANK</h1>
                </div>
                <div class="restante-nav">
                    <a href="{{ url_for('dashboard', id_usuario=usuario.id) }}"> Home </a>
                    <a href="{{ url_for('logout') }}"> Sair </a>
                </div>
            </nav>
        </header>

        <!-- Conteúdo principal da página -->
        <div class="extrato-container">
            <h1>Extrato Detalhado</h1>
            
            <pre>{{ extrato }}</pre>
        </div>

    </div>
</body>
</html>
