<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Transferência - LS-BANK</title>
</head>
<body>
    <div class="container">

        <!-- Cabeçalho da navegação -->
        <header>
            <nav>
                <div class="logo">
                    <svg height="40" viewBox="-3 -3 82 82" width="40" style="display: block">
                        <title>LS-BANK logo</title>
                        <image width="80" height="80" href="{{ url_for('static', filename='fotos_site/logo.png') }}" />
                    </svg>
                    <h1>LS BANK</h1>
                </div>
                <div class="restante-nav">
                    <a href="{{ url_for('dashboard', id_usuario=usuario.id) }}"> Home </a>
                    <a href="{{ url_for('logout')}}"> Sair </a>
                </div>
            </nav>
        </header>

        <!-- Título principal -->
        <div class="form-container">
            <h1>Transferência</h1>

            <!-- Formulário de transferência -->
            <form method="POST" class="popup2">
                {{ form.csrf_token }}

                <div class="div-input">
                    {{ form.cpf1.label(class="label") }}
                    {{ form.cpf1(class="input") }}
                </div>

                <div class="div-input">
                    {{ form.senha.label(class="label") }}
                    {{ form.senha(class="input") }}
                </div>

                <div class="div-input">
                    {{ form.valor.label(class="label") }}
                    {{ form.valor(class="input") }}
                </div>

                <div class="div-botao">
                    {{ form.botao_confirmacao(class="botao-login") }}
                </div>
            </form>

            <!-- Mensagens de feedback -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

    </div>
</body>
</html>
